$box_shadow($x=3px, $y=3px, $radius=3px, $color=#888) {
  -moz-box-shadow: $x $y $radius $color;
  -webkit-box-shadow: $x $y $radius $color;
  box-shadow: $x $y $radius $color;
}

$opacity($opacity=1) {
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}

$gradient($from=#000, $to=#eee) {
  background: $from;
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
}

$transition($range=all, $time=1s, $ease=ease-in-out) {
  -moz-transition: $range $time $ease;
  -webkit-transition: $range $time $ease;
  -o-transition: $range $time $ease;
  transition: $range $time $ease;
}

$animation($name, $duration=1s, $iteration-count=infinite, $timing-function=ease-in-out, $direction=normal){
  -moz-animation-name: $name;
	-moz-animation-duration: $duration;
	-moz-animation-iteration-count: $iteration-count;
	-moz-animation-timing-function: $timing-function;
  -moz-animation-direction: $direction;

	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: $iteration-count;
	-webkit-animation-timing-function: $timing-function;
  -webkit-animation-direction: $direction;

	-ms-animation-name: $name;
	-ms-animation-duration: $duration;
	-ms-animation-iteration-count: $iteration-count;
	-ms-animation-timing-function: $timing-function;
  -ms-animation-direction: $direction;

	-o-animation-name: $name;
	-o-animation-duration: $duration;
	-o-animation-iteration-count: $iteration-count;
	-o-animation-timing-function: $timing-function;
  -o-animation-direction: $direction;

	animation-name: $name;
	animation-duration: $duration;
	animation-iteration-count: $iteration-count;
	animation-timing-function: $timing-function;
  animation-direction: $direction;
}


// Arrows

$arrow {
  &:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent;
  }
}

$arrow-right {
  $extend $arrow;

  &:after {
    top: 10px;
    right: -20px;
    border-left-color: #fff;
  }
}

$arrow-left {
  $extend $arrow;

  &:after {
    top: 10px;
    left: -20px;
    border-right-color: #fff;
  }
}

$arrow-top {
  $extend $arrow;

  &:after {
    left: 10px;
    top: -20px;
    border-bottom-color: #fff;
  }
}

$arrow-bottom {
  $extend $arrow;

  &:after {
    left: 10px;
    bottom: -20px;
    border-top-color: #fff;
  }
}
